{% extends "base.html" %}

{% block title %}
<title>Who are you?</title>
{% endblock %}

{% block content %}
<div class="second-container">
    <div class="container">
        <h1 class="light center main-heading second-main blue-grey-text text-darken-1">Who are you?</h1>
    </div>
    <div class="row buttons-row">
        <div class="col l4 push-l1 big-buttons"><a href="/accounts/signup/student">Student</a></div>
        <div class="col l4 push-l3 big-buttons"><a href="/accounts/signup/counsellor">Counsellor</a></div>
    </div>
</div>
{% endblock %}
