{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Review your college</title>
{% endblock %}

{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/recommendation.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row auth-row">
	<h2 class="center">Reviews for {{ col_name }}</h2>
    <div class="col s4 push-s4">
		<form method="post">
		    {% csrf_token %}
		    {{ form }}
		    <div class="row"><button class="col s12 waves-effect waves-light btn indigo darken-4" type="submit">submit</button></div>
		</form>
	</div>
</div>
{% endblock %}
