{% extends "base.html" %}
{% load static %}

{% block title %}
	{% if user.is_student %}
		<title>{{ data.user.username }} Profile</title>
	{% else %}
		<title>{{ user.username }}</title>
	{% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{%static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<h3><center>Profile Page</center>
<div class="card">
	<img src="{% static 'photo.jpeg' %}"  style="width:100%; height: 300px;"> 
	<h3 style="margin: 1px;">{{ counsellor.user.username }}</h3>
	<div class="title grey-text">Counsellor - {{ counsellor.university }}</div>
	<div class="row">
		<div class="title grey-text"> <i class="material-icons">phone</i>Contact at : </div>
		<div class="col s11 m11 l11 title">{{ counsellor.phone_number }}</div>
	</div>
	<h3>Successful applicants {{ passouts }}</h3>
	{% if counsellor.is_verified %}
		<i class="material-icons green-text">done</i><h4>Verified</h4>
	{% else %}
		<i class="material-icons red-text">clear</i><h4>Unverified</h4>
	{% endif %}
	{% if user.is_counsellor %}
		<a href="/upload" class="waves-effect waves-light btn indigo darken-4 white-text">Upload Documents</a>
	{% endif %}
</div>
{% endblock %}
