{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Upload</title>
{% endblock %}

{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet" />
{% endblock %}


{% block content %}
<div class = "row auth-row">
<h3 class = "center">Upload your documents for verification</h3>
	<div class="col s4 push-s4">
		<form method = "post" enctype = "multipart/form-data">
			{% csrf_token %}
			{{ form }}
			<div class = "row"><button class = "col s12 waves-effect waves-light btn indigo darken-4" type = "submit">submit</button></div>
		</form>
	</div>
</div>
{% endblock %}
