{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Chatroom</title>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block scripts %}
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script>
	function runKeyPressScript(e) {
		if (e.keyCode == 13 && $('#btn-input').val()) {
			$('#btn-chat').click();
		}
	}

	//initiate puhser with your application key
	var pusher = new Pusher('2261f30532b42da9c0f7', {
		cluster: 'ap2',
		encrypted: true
	});
	//subscribe to the channel you want to listen to
	var my_channel = pusher.subscribe('a_channel');
	//wait for an event to be triggered in that channel
	my_channel.bind("an_event", function (data) {
		// declare a variable new_message to hold the new chat messages
		var new_message = `
		<li>
			<div class="row">
				<div class="col s10">` + data.message + `</div>
				<div class="col s2 right-align light">` + data.name + `</div>
			</div>
		</li>
		`;
	 //append the new message to the ul holding the chat messages
	 $('#chat').append(new_message);
	 var height = $(".panel-body")[0].scrollHeight;
	 $(".panel-body").animate({ scrollTop: height }, "slow");
 });
	//wait until the DOM is fully ready
	$(document).ready(function(){
	//add event listener to the chat button click 
	$("#btn-chat").click(function(){
	//get the currently typed message
	var message = $('#btn-input').val();

	$.post({
		url: '/ajax/chat/',
		data: {
			'message': message
		},
		success: function (data) {

			$('#btn-input').val('');

		}
	});

})
})

</script>
{% endblock %}

{% block content %}
<style>
	.panel-body
	{
		overflow-y: auto;
		height: 70vh;
		border-radius: 10px;
	}

	::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: #F5F5F5;
	}

	::-webkit-scrollbar
	{
		width: 12px;
		background-color: #F5F5F5;
	}

	::-webkit-scrollbar-thumb
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #555;
	}

</style>
<div class="container">
	<div class="row">
		<div class="col s12 upper-region"><h5><i class="material-icons">message</i>&nbsp;&nbsp;&nbsp;Chat</h5></div>
		<div class="col s12 panel-body grey lighten-3">
			<!-- ul element holding chat messages -->
			<ul class="" id="chat">
			</ul>
		</div>
		<input id="btn-input" class="col s12" placeholder="Type a message" type="text" onkeypress="runKeyPressScript(event);" />
		<button id="btn-chat" class="col s12 btn waves-effect waves-light indigo darken-4" type="submit" name="action">send<i class="material-icons right">send</i></button>	
	</div>
</div>
{% endblock %}