.collapsible-header > .row {
	width: 100%;
	margin-bottom: 0;
}

.stars-icon {
	margin: 0 !important;
	font-size: 1.4rem !important;
	color: #bf360c;
}

/* mainpage */

.main-heading {
	font-family: 'Quicksand', sans-serif;
}

.first-container {
	padding-top: 20vh;
	background: linear-gradient(rgb(40, 53, 147), white) !important;
	height: 100vh;
}

.sub-heading {
	color: #eeeeee;
	font-size: 2rem;
	font-weight: 300;
}

.second-sub-heading {
	font-size: 3.5rem;
	font-weight: 300;
	color: white;
	padding-top: 5vh;
}

.first-small-heading {
	font-size: 1.7rem;
	color: #607d8b;
	font-family: 'Quicksand', sans-serif;
}

.first-icons {
	color: #37474f;
}

.first-para {
	text-align: justify;
}

.second-container {
	height: 100vh;
}

.second-main {
	margin: 0;
	padding-top: 25vh;
}

.big-buttons {
	background-color: #3949ab;
	border-radius: 10px;
	font-size: 4rem;
	padding: 5px;
	color: white;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: box-shadow 0.35s ease;
	cursor: pointer;
}

.big-buttons:hover {
	box-shadow: none;
}

.buttons-row {
	padding-top: 20vh;
}

a,
a:active,
a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.set-common-size {
	font-size: 2rem;
}

.set-common-size-tick {
	font-size: 2rem;
}

.auth-row {
	margin-top: 3vh;
}

.det-bor {
	border-bottom: 1px solid black;
	padding: 10px !important;
}

.det-bor h5 {
	margin: 0;
	font-family: 'Slabo 27px', serif;
}

.det {
	font-family: 'Slabo 27px', serif;
}

.collapsible-body .row {
	margin: 0;
}

.college-location {
	font-size: 1.7rem;
	font-family: 'Poor Story', cursive;
	padding-top: 5px !important;
}

.college-reviews, .college-fees {
	font-size: 1.2rem;
	font-family: 'Raleway', sans-serif;
}

.dropdown-content li>a, .dropdown-content li>span {
	color: #1a237e !important;
}

.collection-item {
	cursor: pointer;
	color: #1a237e !important;
	font-size: 1.6rem;
	padding: 20px !important;
}

.collection-item .row {
	margin-bottom: 0;
}

.container h3 {
	font-family: 'Slabo 27px', serif;
}

.content {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
}

.cprof_image{
	margin-top: 3em;
}

.cprof_details{
	font-family: 'Raleway', sans-serif;
	margin-left: 20em;
	cursor: pointer;
	font-size: 1.1em;
}

.cprof_details a {
	cursor: pointer;
}

.slider .indicators .indicator-item {
	background-color: #666666;
	border: 3px solid #ffffff;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.auth-row h3, .auth-row h2 {
	font-family: 'Slabo 27px', serif;
}

textarea {
	height: 20vh;
	resize: vertical;
	min-height: 10vh;
	max-height: 50vh;
}
