

{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Counsellors available</title>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{%static 'result.css' %}" />
{% endblock %}

{% block content %}
<div class="main">
	<h3><center>Counsellors available</h3></center>
	{% for  coun in data %}
	<div class="card result" style="margin: 2px;">
		<div class="row">
			<div class="col s1 m1 l1"><i class="material-icons">account_circle</i></div>
			<div class="col s11 m11 l11" style="font-size: 1.4em;"">{{coun.name}}</div>
			<div class="col s1 m1 l1"><i class="material-icons">phone</i></div>
			<div class="col s11 m11 l11" style="font-size: 1.4em;"">{{coun.contact}}</div>
			<div class="col s1 m1 l1"><i class="material-icons">mail</i></div>
		</div>
	</div>
</div>
	{%endfor%}
{% endblock %}
