{% extends "base.html" %}

{% load static %}

{% block title %}
<title>College Recommendation</title>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'recommendation.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s4 push-s4">
		<form method="post">
		    {% csrf_token %}
		    {{ form }}
		    <input class="waves-effect waves-light btn indigo darken-4" type="submit" value="Submit" />
		</form>
	</div>
</div>
{% endblock %}
