{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Colleges</title>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/radialIndicator.min.js' %}"></script>
<script src="{% static 'js/college.js' %}"></script>
{% endblock %}

{% block content %}
<div class="hide colleges-length">{{ colleges|length }}</div>
<div class="container">
	<ul class="collapsible" data-collapsible="accordion">
		{% for college in colleges %}
			<li>
				<div class="collapsible-header">
					<div class="row">
						<div class="col s9 m9 l9">{{ college.title }}</div>
						<div class="col s3 m3 l3">
							{% for ratingstars in ratings %}
								{% if forloop.counter <= college.ratings %}
									<i class="material-icons stars-icon">star_rate</i>
								{% else %}
									&nbsp;
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="collapsible-body">
					<div class="row">
						<div class="col s12 m4 l4 center">
							<h5>Median {{ college.exam }}</h5>
							<div class="hide" id="college-score-{{ forloop.counter0 }}">{{ college.score }}</div>
							<div id="indicatorContainer{{ forloop.counter0 }}"></div>
						</div>
						<div class="col s12 m4 l4 center">
							<h5>Fees</h5>
							&#8377; {{ college.fees }} lakhs
						</div>
						<div class="col s12 m4 l4 center">
							<h5>Specialisation</h5>
							<div class="hide" id="college-specialisation-{{ forloop.counter0 }}">{{ college.specialisation}}</div>
							<div id="colSpec{{ forloop.counter0 }}"></div>
						</div>
						<div class="col s12 m6 l6 center">
							<h5>Reviews</h5>
							{{ college.reviews }}
						</div>
						<div class="col s12 m6 l6 center">
							<h5>Location</h5>
							{{ college.location }}
						</div>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}