{% extends "base.html" %}

{% load static %}

{% block title %}
<title>College Recommendation</title>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'recommendation.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row auth-row">
	<div class="col s4 push-s4">
		<form method="post">
			{% csrf_token %}
			{{ form }}
			<div class="row"><button class="col s12 waves-effect waves-light btn indigo darken-4" type="submit">submit</button></div>
		</form>
	</div>
</div>
{% endblock %}