{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% block title %}
	{% endblock %}

	<!-- CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="icon" href="{% static 'img/favicon.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
	{% block stylesheets %}
	{% endblock %}
</head>
<body>
	<nav>
		<div class="nav-wrapper indigo darken-4">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
			{% if user.is_authenticated %}
				<li><a href="/profile">{{user.username}} | {% if user.is_counsellor %}Counsellor{% else %}Student{% endif %}</a></li>
				{% if user.is_student %}
				<li><a href="/colleges">Colleges</a></li>
				<li><a href="/recommendations">Recommendations</a></li>
				<li><a href="/counsellors">Counsellor</a></li>
				{% endif %}
				<li><a href="/accounts/logout" class="waves-effect waves-light btn">Logout</a></li>
			{% else %}
				<li><a href="/accounts">Login</a></li>
				<li><a href="/accounts/signup">Register</a></li>
			{% endif %}
			</ul>
		</div>
	</nav>
	{% block content %}
	{% endblock %}
	
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').material_select();
		});
	</script>
	{% block scripts %}
	{% endblock %}
</body>
</html>