<!DOCTYPE html>
<html>
<head>
	{% block title %}
	{% endblock %}

	<!-- CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	{% block stylesheets %}
	{% endblock %}

	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	{% block scripts %}
	{% endblock %}
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/student/">Home</a></li>
			{% if user.is_authenticated %}
				<li><a href="/student/colleges">Colleges</a></li>
				<li><a href="/student/recommendations">Recommendations</a></li>
				<li><a href="/student/counsellors">Counsellors</a></li>
				<li><a href="/student/profile">{{user.username}}</a></li>
				<li><a href="/student/logout" class="waves-effect waves-light btn">Logout</a></li>
			{% else %}
				<li><a href="/student/login">Login</a></li>
				<li><a href="/student/register">Register</a></li>
			{% endif %}
			</ul>
		</div>
	</nav>
	{% block content %}
	{% endblock %}
</body>
</html>