<!DOCTYPE html>
<html>
<head>
	<title>Home - Student Connect</title>

	{% load static %}

	<!-- CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Exo+2|Quicksand:500" rel="stylesheet" /> 
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body class="mainpage-body">
	<div class="first-container">
		<div class="container">
			<h2 class="main-heading white-text">ML assisted College Recommendations and Counselling Platform</h2>
			<div class="sub-heading">Connects university applicants with university students. Smart ML based college recommendation based on you academics, affordability and a whole lot of other factors!</div>
			<div class="center second-sub-heading">Why our Platform?</div>
			<div class="row two-col-row">
				<div class="col s6 m6 l4 push-l1">
					<h2 class="center"><i class="material-icons large first-icons">face</i></h2>
					<h5 class="center first-small-heading">ML Based Smart and Interactive Recommendation</h5>
					<p class="first-para light">Our platform uses machine learning to perform textual analysis on college reviews and gives you well informed recommendations for colleges based on your academics, ethnicity, affordability etc.</p>
				</div>
				<div class="col s6 m6 l4 push-l3">
					<h2 class="center"><i class="material-icons large first-icons">attach_money</i></h2>
					<h5 class="center first-small-heading">A Great Way to Make Quick Money</h5>
					<p class="first-para light">Once in college, the burden of student debt is tremendous. Students work day in and day out to pay for college. Our platform allows university students to make some quick bucks for counselling these university applicants.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="second-container">
		<div class="container">
			<h1 class="light center main-heading second-main blue-grey-text text-darken-1">Who are you?</h1>
		</div>
		<div class="row buttons-row">
			<div class="col l4 push-l1 big-buttons"><a href="/student">Student</a></div>
			<div class="col l4 push-l3 big-buttons"><a href="/counsellor">Counsellor</a></div>
		</div>
	</div>
</body>
</html>